*{
    box-sizing: border-box;
}
html{
  font-family: 'Times New Roman', sans-serif;
}
nav a{
         font-weight: 500;
         font-size: large;
         color: black;
         text-decoration: none;
         margin: 10px;
         font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}
.logo{
    cursor:pointer;
}
.brandlogo{
    display: flex;
    float: left;
    margin: 100px;
    padding: 100;
    padding-left: 20px;
    justify-content: space-between;
}
.product{
    padding: 25;
    margin: 10px;
    padding-left: 10px;
}
.productimage{
        display: flex;
        float: left;     
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
    margin-top: 80px;
    
  }
.footer .col {
    width: 320px;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 15px;
  }
.footer .col h2 {
    margin: 100;
    padding: 0;
    font-size: 15px;
    line-height: 25px;
    padding: 10px 0;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.footer .col ul {
    list-style-type: none;
    padding: 0;
}
.footer .col ul li {
  color: black;
  font-size: 15px;
  padding: 0px 0px;
  

}
.ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
}
#headerline{
  width: 100%;
  height: 2px;
  background-color: black;
}
#footerline{
    width: 100%;
    height: 1px;
    background-color: black;
}