html{
    background-image: url(./GLGG.jpg);
}
header{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
}
h1{
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-family: 'Times New Roman', sans-serif;
}
h2{
    font-size: 40px;
    color: black;
    font-family: 'Times New Roman', sans-serif;
}
h6{
    font-size: 10px;
    color: black;
    font-family: 'Times New Roman', sans-serif;
}
p{
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', sans-serif;
}
div{
    border: 1px solid ;
    border-radius: 50px;
    background-color: DodgerBlue;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 14px;
    font-family: 'Times New Roman', sans-serif;
    border-color: DodgerBlue;
}
.login{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    border-color: DodgerBlue;
    margin-left: 35%;
    margin-top: 5%;
}
#loginform > input{
    border-color: DodgerBlue;
    width: 100%;
    height: 48px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: whitesmoke;
}
#loginform > input::placeholder{
    color: gray;
}
#loginform > input[type="submit"]{
    border-color: darkblue;
    color: white;
    font-size: 16px;
    background-color: darkblue;
    margin-top: 20px;
}
.sign-up{
    width: 500px;
    height: 600px;
    padding: 40px;
    box-sizing: border-box;
    border-color: DodgerBlue;
    margin-left: 35%;
    margin-top: 5%;
}
#sign-upform > input{
    border-color: dodgerblue;
    width: 100%;
    height: 48px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: whitesmoke;
}
#sign-upform > input::placeholder{
    color: gray;
}
#sign-upform > input[type="submit"]{
    border-color: darkblue;
    color: white;
    font-size: 16px;
    background-color: darkblue;
    margin-top: 20px;
}
#id{
    float: right;
}
#password{
    float: right;
}
#Cpassword{
    float: right;
}
#name{
    float: right;
}
#address{
    float: right;
}
#phonenum{
    float: right;
}
#birth{
    float: right;
}
#year{
    float: right;
}
#month{
    float: right;
}
#day{
    float: right;
}