.flex{
    display: flex;
    /*justify-content: center;*/
}
.num{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.parallax{
    background-image: url(./test1.jpg);
    background-position: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/*@media only screen and (max-width: 650px) {
    body {
      display: none;
    }
  }