html {
    background-color: royalblue;
}

body {
    background-color: white;
    border-radius: 15px;
    max-width: 100%;
    height: 710px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}
#logo {
    margin-top: 30px;
    width: 135px;
}

#main {
    width: 300px;
    height: 600px;
}

